.custom-h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #456d78;
    margin-bottom: 30px;
}

.custom-card {
    transition: transform 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
    transform: scale(1.005); /*1.05 배확대 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.card:hover {
    transform: translateY(-10px); /* 마우스 호버시 카드가 살짝 올라가는 효과 */
}

/* 이미지 스타일 */
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
